{% extends "base.html" %}
{% block page_title %}{{ season.series.name }}{% endblock %}
{% block extra_head %}
    <script type="text/javascript">
	$(document).ready(function(){
    	$(".entry").click(function(){
    		$(this).find('.description').slideToggle("slow");
    	});
	});
	</script>

{% endblock %}
{% block main_content %}
    <p>
        <h2>
             {{ season.name }}
        </h2>
    </p>
	<table id="mwTable">
	<colgroup>
	    <col width="20" />
	    <col />
    </colgroup>
{#    <p>#}
{#        <h3>#}
{#            Description#}
{#        </h3>#}
{#        <br>#}
{#        {{ series.description }}#}
{#    </p>#}
	<tr>
		<th></th>
		<th>Episodes</th>
	</tr>
	{% for e in episodes %}
    	<tr>
    		<td>{{forloop.counter}}. </td>
    		<td class="entry">
    			<p class="name">{{e.name}}</p>
    		</td>
            <td><a href="{% url episode_details %}?episode={{ e.id }}">details</a></td>
    	</tr>
	{% endfor %}
</table>{% endblock %}

