{% extends "base.html" %}
{% block page_title %}Most watched series{% endblock %}
{% block extra_head %}
    <script type="text/javascript"> 
	$(document).ready(function(){
    	$(".entry").click(function(){
    		$(this).find('.description').slideToggle("slow");
    	});
	});
	</script>
	
{% endblock %}
{% block main_content %}
	<table id="mwTable">
	<colgroup>
	    <col width="20" />
	    <col />
    </colgroup>
	<tr>
		<th></th>
		<th>Show</th>
	</tr>
	{% for s in series %}
    	<tr>
    		<td>{{forloop.counter}}. </td>
    		<td class="entry">
    			<p class="name">{{s.name}}</p>
    			<p class="description">{{s.description}}</p>
    		</td>
            <td><a href="{% url series_details %}?series={{ s.id }}">details</a></td>
    	</tr>
	{% endfor %}
</table>{% endblock %}

