#mainContainer {
	margin-top: 50px;
	padding-left : 50px;
	padding-right: 50px;	
}

body {
	background-color:white;
	background-image:url('/media/images/gradientWhite.jpg');
	background-position: bottom;
	background-repeat: repeat-x;
}

div {
	/*background-color : #E7E2F5;*/
	/*background-color: #E2F0DB;*/
	background-color:white;
	font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
	font-weight: normal;
	font: #666666;
 
}

#header{
	padding-top: 50px;
	font-size: 1.75em;
	letter-spacing: .2em;
	background-image:url("/media/images/logo.gif");
	background-position:left bottom;
	background-repeat:no-repeat;
}

#subheader{
	font-family: "Lucida Grande", Tahoma;
	font-size: 10px;
	font-weight: lighter;
	font-variant: normal;
	color: #666666;
	letter-spacing: 0.3em;
}

#mainASidebar{
	height:550px;
	padding-bottom: 100px;
}

#main{
	padding-top: 15px;
}

#mwTable{
	font-size:120%;
	margin-top: 20px;
}

/*for jquery use in table*/
/*p.slideSh1, p.panelSh1,p.slideSh2, p.panelSh2,p.slideSh3, p.panelSh3,p.slideSh4, p.panelSh4,p.slideSh5, p.panelSh5*/
.description {
	display:none;
}
.description, .name {
    padding: 0;
    margin: 0;
}

.season {
	display:none;
}
.season, .name {
    padding: 0;
    margin: 0;
}

.episode {
	display:none;
}
.episode, .name {
    padding: 0;
    margin: 0;
}

form, .link
{
display:inline;
margin:0;
padding:0;
}


.link
{
border:none;
background-color: transparent;
color:black;
text-decoration:underline;
cursor:pointer;
}

p.flip1,p.flip2,p.flip3,p.flip4,p.flip5{
	height:0px;
}

#rec1 {
	margin-top: 75px;
}